@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;700&display=swap');

*{
	margin: 0px;
	padding: 0px;
}
.sidebar{
	background-color:#cbcaca;
    width: 434px;
    font-size: xx-large;
    text-align: left; 
    height: 100vh;
}

.sidebar nav{
	padding: 40px;
}
.sidebar nav li{
	list-style: none;
	padding: 30px;
	font-size: 25px;
}
.sidebar nav li a{
	text-decoration: none;
	color: black;

}
.main{
	background-color: grey;
	width: 85vw;
    font-size: 60px;
	font-family: 'Source Sans Pro', sans-serif;
	height: 100vh;
	text-align: center;

}
.container{
	display: flex;
}
.infocontainer{
	background-color: red;
	height: 78vh;
	width: 75vw;
	margin: 147px auto;
	display: flex;
	background-image: url(web-development.jpeg);
}
.devinfo{
	display: flex;
	justify-content:center ;
	flex-direction: column;
	color: white;
	width: 50vw;

} 
.Hello{
	font-size: 90px;
	font-family: 'Source Sans Pro', sans-serif;
    text-align: left;

}
.name{
	font-size: 70px;
	font-weight: bolder;
	font-family: 'Source Sans Pro', sans-serif;
   text-align: left;
   color: red;
}
.buttons{
	padding: 20px;
    color: black;
    font-size: 25px;
    border-radius: 30px;
    margin: 34px;
}
.btn{
	background-color: #2196f3;
	border-radius: 25px;
	font-size: 25px;
	padding: 9px 10px;
	font-weight: bold;
	color: white;
	cursor: pointer;
	margin: 0 3px;
}
.btn:hover{
	color: #2196f3;
	background-color:white ;
}
.about{
	padding-left: 5px;
	font-size: 50px;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: left;

}
.moreabout{
	font-size: 30px;
	padding-left: 5px;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: left;
	
}
.DevPic img{
     height:450px;
     width: 350px;
     padding-top: 100px;
     padding-right:20px;
     padding-left: 40px;
     image-rendering:pixelated;
     position: sticky;
     
		
} 

.contactform{
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 150px;
    padding: 0 34px;
}

.contactform h1{
 font-family: 'Roboto', sans-serif;

 padding: 15px;

}
.contactform form div{
    padding: 10px 0;
    font-size: 30px;
    display: flex;
    flex-direction: column;
}
#emailHelp{
    font-size: 15px;
    color: midnightblue;
    margin: 0 5px;
    padding: 3px 0 0 0;

}
.contactform form div input{
    width: 30vw;
    border-radius: 5px;
    margin: 6px 0;
    padding: 3px;
}
#form-check{
    flex-direction: row;
}
#form-check input{
    width: 25px;
    margin: 5px 0;

}
.btn-sm{
	font-size: 17px;
      padding: 14px 19px;
      margin:12px 0 ;
}
